<div class="vh-100 flex flex-wrap items-center">
  <div class="w-80 center">
    <h1 class="tc sans-serif">Ask Me</h1>
    <div>
      <form action="/answer">
        <input type="text" id="question" name="question">
        <input type="submit" value="Ask!">
      </form>
    </div>
  </div>
</div>
